body {
  margin: 0;
  padding: 0;
  font-family: 'Menlo', 'Monaco', 'Courier New', monospace;
  align-items: center;
  background-color: #1e1e1e;
  color: #d0d0d0;
}

.presentation-container {
  height: 100vh; 
  display: flex;
  flex-direction: row;
  align-items: center; 
  justify-content: center;
  gap: 40px;
  font-size: 1.7vw;
  margin-top: -5vh;
}

.mac-window {
  background-color: #282828;
  border-radius: 10px;
  width: 45%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: transform 0.3s ease;
}

.mac-window:hover {
  transform: scale(1.05);
}

.mac-bar {
  background-color: #282828;
  display: flex;
  justify-content: last baseline;
  padding: 10px;
  border-bottom: 1px solid #55555527;
  user-select: none;
  -webkit-app-region: drag;
}

.mac-btn {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-left: 5px;
}

.mac-btn.red {
  background-color: #fc615d;
}

.mac-btn.yellow {
  background-color: #fdbc40;
}

.mac-btn.green {
  background-color: #34c84a;
}

.console {
  margin: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column; 
  overflow: hidden;
  max-height: 520px;
}

.outputs {
  flex: 1;
}

.output {
  color: #d0d0d0;
  margin-bottom: 10px;
  white-space: pre;
  word-wrap: break-word;
}

.output a {
  text-decoration: none;
  color: #d0d0d0;
}

.output a:hover {
  font-weight: bold;
}

.input-line {
  display: flex;
  margin-top: 10px;
}

.prompt {
  color: #34c84a;
  margin-right: 5px;
}

.input {
  flex: 1;
  outline: none;
  background-color: transparent;
  border: none;
  font-family: 'Menlo', 'Monaco', 'Courier New', monospace;
  color: #d0d0d0;
}

/* Imagen de perfil */
.perfil-img {
  text-align: center; 
  width: 20%;
}

.perfil-img img {
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  transition: filter 0.5s ease, transform 0.5s ease-in-out;
}

/* Efectos de hover en la imagen de perfil */
.perfil-img img:hover {
  filter: blur(0px);
  transform: scale(1.1);
}

.perfil-img::before {
  content: '';
  position: absolute;
  background-color: #000;
  mix-blend-mode: screen;
  transition: opacity 0.5s ease;
  opacity: 0;
}

.perfil-img:hover::before {
  overflow: hidden;
  transition: ease;
  opacity: 1;
}

/* Sobre mi */
#about-container {
  background-color: #282828;
  color: #d0d0d0;
  padding: 5px;
  border-radius: 10px;
  width: auto;
  max-width: 60vw;
  font-family: 'Roboto', sans-serif;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

#about {
  background-color: #282828;
  color: #d0d0d0;
  padding: 40px;
  border-radius: 10px;
  width: auto;
  max-width: 60vw;
  font-family: 'Roboto', sans-serif;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

#about h2 {
  font-size: 2em;
  margin-bottom: 20px;
  margin-top: 5px;
}

#about p {
  font-size: 1.3em;
  line-height: 1.6;
  margin-bottom: 10px;
}

#about h3 {
  font-size: 1.8em;
  margin-bottom: 10px;
}

#about ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 20px;
}

#about li {
  margin-bottom: 5px;
  font-size: 1.3em;
}


#about .technologies li {
  background-color: #444;
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
}

#about .technologies li:hover {
  transform: scale(1.1);
}

#about .education li {
  color: #fff;
  padding: 5px 10px;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}

#about .hobbies {
  font-size: 1.3em;
  line-height: 1.6;
  margin-bottom: 10px;
}

/* Proyectos */
.projects-container {
  height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title{
  text-align: center;
  font-size: 20px;
}
.mac-window-projects {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.mac-window-project {
  width: 22%;
  margin: 15px;
  background-color: #282828;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
}

.mac-window-project:hover {
  transform: scale(1.05);
}

.console-project {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.img-project-container {
  text-align: center;
}

.img-project-container img {
  position: relative;
  width: 170px;
  margin: 20px;
}

#title-project {
  font-weight: bold;
  font-size: 1.5vw;
  padding-bottom: 10px;
}

.outputs-projects {
  justify-content: center;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  min-height: 100px;
  font-size: 1.1vw;
  overflow-wrap: break-word;
  flex: 1;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.ver-mas-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  border-radius: 5px;
}

.ver-mas-btn,
.ver-mas-proyectos-btn {
  position: relative;
  left: 50%;
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  transform: translateX(-50%);
  background-color: #2d2d2d;
  color: #d0d0d0;
  border: 1px solid;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.ver-mas-btn:hover,
.ver-mas-proyectos-btn:hover {
  background-color: #fff;
  border-color: #fff;
  color: #2d2d2d;
}

.ver-mas-proyectos-btn {
  margin-top: 3%;
  width: 10%;
}

/* Contactos -------------------------------*/
.contact-container {
  margin: 50px auto;
  width: 55%; 
  background-color: #222222;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 20px; 
  transition: transform 0.3s ease;
  font-family: 'Roboto', sans-serif;
}


#contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  color: #d0d0d0;
  font-size: 1em; 
}

input,
textarea {
  width: auto;
  padding: 10px;
  border: 1px solid #555;
  border-radius: 5px;
  background-color: #212121;
  color: #d0d0d0;
  outline: none;
}

button {
  padding: 10px 20px; 
  background-color: #212121;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 0.9em; 
  transition: background-color 0.3s ease;
  border: 1px solid #555;
}

button:hover {
  background-color: #fff;
  color: #2d2d2d;
}

.contact-icons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.contact-icon {
  text-align: center;
  margin: 0 10px;
}

.contact-icon img {
  width: 35px;
  height: 35px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.contact-icon img:hover {
  transform: scale(1.1);
}

.contact-icon span {
  display: block;
  font-size: 14px;
  color: #d0d0d0;
}

.tooltip {
  position: relative;
  display: inline-block;
  margin: 0 5px; 
  font-size: 1vw;
}

.tooltip::before {
  content: attr(data-text);
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip:hover::before {
  opacity: 1;
  visibility: visible;
}


/* Footer */
.footer {
  background-color: #333;
  color: #d0d0d0;
  padding: 5px;
  text-align: center;
  bottom: 0;
}

.footer a {
  color: #555;
  text-decoration: none;
}

.footer img {
  width: 20px;
}


/* Scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: #2d2d2d;
}

html {
  scrollbar-color: #555 #2d2d2d;
}



@media screen and (max-width: 768px) {

  body {
    font-size: 3.1vw;
  }

  .presentation-container {
    flex-direction: column;
    height: auto;
    gap: 10px;
    font-size: 4.5vw;
    padding-top: 2px;
  }

  .perfil-img {
    width: 60%;
    height: auto;
    margin: 0 auto;
  }

  .mac-window,
  .mac-window-project {
    width: 90%;
    margin: 15px auto;
  }

  .output {
    white-space: pre-line;
  }

  .output a {
    word-break: break;
  }


  .projects-container,
  .presentation-container,
  .contact-container {
    margin-bottom: 30px;
  }


  #about {
    max-width: 350px;
    margin-bottom: 20px;
    padding: 20px;
  }
  

  .console {
    height: 350px;
  }

  .mac-window {
    height: auto;
    flex-direction: column;
  }

  .mac-window-projects {
    flex-direction: column;
  }

  .img-project-container img {
    width: 130px;
    padding: 30px;
  }

  .tooltip {
    font-size: 3vw;
  }

  .contact-container {
    max-width: 300px;
    margin-top: 10px;
    font-size: 4vw;
  }

  input,
  textarea {
    width: 93%;
  }

  .mac-btn,
  .footer img {
    margin-left: 5px;
  }

  .footer {
    height: auto;
  }

  .perfil-img img,
  .img-project-container img {
    margin: 10px 0;
  }

  .projects-container {
    height: auto;
  }

  #title-project {
    font-size: 7vw;
  }

  .ver-mas-proyectos-btn {
    margin-top: 45px;
    width: 40%;
  }

  .outputs-projects {
    font-size: 5vw;
  }

  .contact-icon img {
    width: 30px;
    height: 30px;
  }

}

@media screen and (max-width: 425px) {
  .console {
    height: 250px;
  }

}
